
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- Icon Cards-->
<div class="row">
   <div class="col-lg-12">
       <h3 class="paddtop1 dosis font-weight-5 lspace-sm bluetext">@ViewBag.Header</h3>
   </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/project/dashboard.js?v=1"></script>


