@{
    ViewBag.Title = "Welcome to : Maheshwari Public School Bhilwara";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";

}

<style>
    * {
        box-sizing: border-box;
    }

    .zoom {
        padding: 1px;
        transition: transform .2s;
        margin: 0 auto;
    }

        .zoom:hover {
            -ms-transform: scale(1.1); /* IE 9 */
            -webkit-transform: scale(1.5); /* Safari 3-8 */
            transform: scale(1.1);
        }
</style>


<hr>

<!-- end of masterslider -->
<div class="clearfix"></div>

<!-- end section -->
<div class="clearfix"></div>
<section class="sec-padding" style="background-image:url(images/product_bg.png);">
    <div class="container">
        <div class="col-md-8" align="left">

            <h3 class="section-title droid-serif"> <span class="text-black"> Admission </span> </h3>
            <p> Maheshwari Public School grant admission in playgroup to VIII students to the availability of seats and eligibility.   </p>
            <strong>Obtaining the application form  </strong>
            <p> Parents who wish to apply for admission should obtain the prospectus and admission form on the payment ofRs. 400/-. This can be rendered in cash or DD in favour of the Maheshwari Public School,Bhilwara, payable at Bhilwara only.   </p>
            <p> Duly completed applications form must be submitted in the office on or before stipulated date. The required documents as mentioned in admission form shall be attached with the application form.   </p>

            <li>  Original transfer certificate, duly endorsed and counter signed with the designated government authority.  </li>
            <li>  Attested Xerox Marksheet of previous class </li>
            <li>  Attested birth certificate in case admission is sought in entry class.  </li>
            <li>  12 colored passport size photograph.  </li>
            <li>  Blood group on medical history form if required </li>
            <li>  Any other if recommendation by School </li>
            <br>

            <h4> Admission Age Criteria </h4>
            <br>
            <div class="col-xl-7 col-lg-6" align="center">
                <table class="table table-bordered">
                    <tr>
                        <td width="240"><p align="center">Standard</p></td>
                        <td width="240" valign="bottom"><p align="center">Age of Admission</p></td>
                    </tr>
                    <tr>
                        <td width="240" valign="top"><p align="center">Play    Group</p></td>
                        <td width="240" valign="top"><p align="center">2    +  Year Years</p></td>
                    </tr>
                    <tr>
                        <td width="240" valign="top"><p align="center">Nursery</p></td>
                        <td width="240" valign="top"><p align="center">2.5    + Years</p></td>
                    </tr>
                    <tr>
                        <td width="240" valign="top"><p align="center">L.K.G.</p></td>
                        <td width="240" valign="top"><p align="center">3.5    + Years</p></td>
                    </tr>
                    <tr>
                        <td width="240" valign="top"><p align="center">U.K.G.</p></td>
                        <td width="240" valign="top"><p align="center">4.5    + Years</p></td>
                    </tr>
                    <tr>
                        <td width="240" valign="top"><p align="center">Standard-1</p></td>
                        <td width="240" valign="top"><p align="center">5.5    + Years</p></td>
                    </tr>
                    <tr>
                        <td width="240" valign="top"><p align="center">Standard-2</p></td>
                        <td width="240" valign="top"><p align="center">6.5    + Years</p></td>
                    </tr>
                    <tr>
                        <td width="240" valign="top"><p align="center">Standard-3</p></td>
                        <td width="240" valign="top"><p align="center">7.5    + Years</p></td>
                    </tr>
                    <tr>
                        <td width="240" valign="top"><p align="center">Standard-4</p></td>
                        <td width="240" valign="top"><p align="center">8.5    + Years</p></td>
                    </tr>
                    <tr>
                        <td width="240" valign="top"><p align="center">Standard-5</p></td>
                        <td width="240" valign="top"><p align="center">9.5    + Years</p></td>
                    </tr>
                    <tr>
                        <td width="240" valign="top"><p align="center">Standard-6</p></td>
                        <td width="240" valign="top"><p align="center">10.5    + Years</p></td>
                    </tr>
                    <tr>
                        <td width="240" valign="top"><p align="center">Standard-7</p></td>
                        <td width="240" valign="top"><p align="center">11.5    + Years</p></td>
                    </tr>
                    <tr>
                        <td width="240" valign="top"><p align="center">Standard-8</p></td>
                        <td width="240" valign="top"><p align="center">12.5    + Years</p></td>
                    </tr>
                </table>
            </div>

            <div class="col-xl-2 col-lg-6" align="center">
                <a href="~/Registration Form.pdf" target="_blank"><img src="~/images/pdficon.png" class="zoom img-fluid" width="100"> </a>
                <br><br>
                <p> Registration  Form </p>
            </div>

        </div>

        <div class="col-md-4" align="left">
            <img src="~/images/admission.jpg" class="img-responsive img-thumbnail zoom">
        </div>


    </div>
</section>


<div class="clearfix"></div>

<div class="clearfix"></div>


