@{
    ViewBag.Title = "Welcome to : Maheshwari Public School Bhilwara";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";

}

<hr>
<!-- end of masterslider -->
<div class="clearfix"></div>
<!-- end section -->
<div class="clearfix"></div>
<section class="sec-padding" style="background-image:url(~/images/product_bg.png);">
    <div class="container">
        <div class="col-md-12" align="left">
            <h3 class="section-title droid-serif"> <span class="text-black"> CBSE Corner </span> </h3>
            <p align="justify">
            </p><table class="table table-bordered table-hover table-striped">
                <tbody>
                    <tr class="info">
                        <td width="304" valign="top"><p>School Name </p></td>
                        <td width="302" valign="top"><p>Maheshwari Public School </p></td>
                    </tr>
                    <tr>
                        <td width="304" valign="top"><p>Year of Establishment </p></td>
                        <td width="302" valign="top"><p>2015 </p></td>
                    </tr>
                    <tr>
                        <td width="304" valign="top"><p>&nbsp;NOC NO. </p></td>
                        <td width="302" valign="top"><p> पीएसपी - सी/अ-2/60567 </p></td>
                    </tr>
                    <tr>
                        <td width="304" valign="top"><p>NOC Issuing date&nbsp; </p></td>
                        <td width="302" valign="top"><p>28/06/2018 </p></td>
                    </tr>
                    <tr>
                        <td width="304" valign="top"><p>Name of Trust </p></td>
                        <td width="302" valign="top"><p> Shree Mahesh Sewa Samiti </p></td>
                    </tr>
                    <tr>
                        <td width="304" valign="top"><p>UDISE No. </p></td>
                        <td width="302" valign="top"><p> 08240849232 </p></td>
                    </tr>
                </tbody>
            </table>
            <div class="clearfix"></div>
            <p>&nbsp;</p>

            <div class="col-xl-2 col-lg-3" align="center">
                <p><a href="~/pdf/cbse_corner/Building Safety Caertificate.pdf" target="_blank"><img src="~/images/pdficon.png" class="zoom img-fluid" width="100"> </a></p>
                <p>Building Safety Caertificate</p>
            </div>


            <div class="col-xl-2 col-lg-3" align="center">
                <p><a href="~/pdf/cbse_corner/CBSE Affiliation Grant Letter.pdf" target="_blank"><img src="~/images/pdficon.png" class="zoom img-fluid" width="100"> </a></p>
                <p>CBSE Affiliation Grant Letter</p>
            </div>


            <div class="col-xl-2 col-lg-3" align="center">
                <p><a href="~/pdf/cbse_corner/DEO Certificate.pdf" target="_blank"><img src="~/images/pdficon.png" class="zoom img-fluid" width="100"> </a></p>
                <p>DEO Certificate</p>
            </div>


            <div class="col-xl-2 col-lg-3" align="center">
                <p><a href="~/pdf/cbse_corner/Fire Safety Certificate.pdf" target="_blank"><img src="~/images/pdficon.png" class="zoom img-fluid" width="100"> </a></p>
                <p>Fire Safety Certificate</p>
            </div>

            <div class="clearfix"></div>
            <p>&nbsp;</p>
            <hr>

            <div class="col-xl-2 col-lg-3" align="center">
                <p><a href="~/pdf/cbse_corner/NOC.pdf" target="_blank"><img src="~/images/pdficon.png" class="zoom img-fluid" width="100"> </a></p>
                <p>NOC</p>
            </div>


            <div class="col-xl-2 col-lg-3" align="center">
                <p><a href="~/pdf/cbse_corner/PHED Caertificate.pdf" target="_blank"><img src="~/images/pdficon.png" class="zoom img-fluid" width="100"> </a></p>
                <p>PHED Caertificate</p>
            </div>

            <div class="col-xl-2 col-lg-3" align="center">
                <p><a href="~/pdf/cbse_corner/RTE Act 2009, Recogniation Certificate.pdf" target="_blank"><img src="~/images/pdficon.png" class="zoom img-fluid" width="100"> </a></p>
                <p>RTE Act 2009, Recogniation Certificate</p>
            </div>

            <div class="col-xl-2 col-lg-3" align="center">
                <p><a href="~/pdf/cbse_corner/Trust Certificate.pdf" target="_blank"><img src="~/images/pdficon.png" class="zoom img-fluid" width="100"> </a></p>
                <p>Trust Certificate</p>
            </div>


            <div class="clearfix"></div>
            <p>&nbsp;</p>
            <hr>

            <p> <strong>Academic session period –</strong> From April to March </p>
            <p> <strong>Vacation period –</strong> From May to 20th june </p>
            <p> <strong>Admission period –</strong> From March to July </p>
            <h5>Section Wise Enrolment of School forThe Current Session </h5>

            <!-- <table class="table table-bordered table-hover table-striped"> -->
            <!-- <tr class="info"> -->
            <!-- <td width="213" valign="top"> <strong>Class</strong></h4></td> -->
            <!-- <td width="213" valign="top"> <strong>No Of Section</strong></h4></td> -->
            <!-- <td width="213" valign="top"> <strong>Enrolment</strong></h4></td> -->
            <!-- </tr> -->
            <!-- <tr> -->
            <!-- <td width="213" valign="top"> Nur to VIII </td> -->
            <!-- <td width="213" valign="top"> 20 </td> -->
            <!-- <td width="213" valign="top"> 533 </td> -->
            <!-- </tr> -->
            <!-- </table> -->

            <table class="table table-bordered table-hover table-striped">

                <tbody>
                    <tr class="info">
                        <td width="325" nowrap="nowrap">Class </td>
                        <td width="325" nowrap="nowrap">Strength </td>
                    </tr>
                    <tr>
                        <td width="325" nowrap="nowrap">1</td>
                        <td width="325" nowrap="nowrap">54</td>
                    </tr>
                    <tr>
                        <td width="325" nowrap="nowrap">2</td>
                        <td width="325" nowrap="nowrap">60</td>
                    </tr>
                    <tr>
                        <td width="325" nowrap="nowrap">3</td>
                        <td width="325" nowrap="nowrap">68</td>
                    </tr>
                    <tr>
                        <td width="325" nowrap="nowrap">4</td>
                        <td width="325" nowrap="nowrap">67</td>
                    </tr>
                    <tr>
                        <td width="325" nowrap="nowrap">5</td>
                        <td width="325" nowrap="nowrap">45</td>
                    </tr>
                    <tr>
                        <td width="325" nowrap="nowrap">6</td>
                        <td width="325" nowrap="nowrap">58</td>
                    </tr>
                    <tr>
                        <td width="325" nowrap="nowrap">7</td>
                        <td width="325" nowrap="nowrap">35</td>
                    </tr>
                    <tr>
                        <td width="325" nowrap="nowrap">8</td>
                        <td width="325" nowrap="nowrap">44</td>
                    </tr>
                    <tr>
                        <td width="325" nowrap="nowrap">9</td>
                        <td width="325" nowrap="nowrap">52</td>
                    </tr>
                    <tr>
                        <td width="325" nowrap="nowrap">10</td>
                        <td width="325" nowrap="nowrap">40</td>
                    </tr>
                    <tr></tr>
                </tbody>
            </table>


            <p> Details of proposed fee structure (2022-23) (Without Transport) * </p>

            <p> <img src="~/images/fee_structure.png" class="img-thumbnail"></p>


            <!--<table class="table table-bordered table-hover table-striped">
              <tr class="info">
                <td width="295"><p align="center"><strong>Class</strong></p></td>
                <td width="289"><p align="center"><strong>Amount</strong></p></td>
              </tr>
              <tr>
                <td width="295" nowrap="nowrap"><p align="center">Play -Group</p></td>
                <td width="289" valign="bottom"><p align="center">29280</p></td>
              </tr>
              <tr>
                <td width="295" nowrap="nowrap"><p align="center">Nursery</p></td>
                <td width="289" valign="bottom"><p align="center">29280</p></td>
              </tr>
              <tr>
                <td width="295" nowrap="nowrap"><p align="center">LKG</p></td>
                <td width="289" valign="bottom"><p align="center">32860</p></td>
              </tr>
              <tr>
                <td width="295" nowrap="nowrap"><p align="center">UKG</p></td>
                <td width="289" valign="bottom"><p align="center">32860</p></td>
              </tr>
              <tr>
                <td width="295" nowrap="nowrap"><p align="center">1</p></td>
                <td width="289" valign="bottom"><p align="center">35470</p></td>
              </tr>
              <tr>
                <td width="295" nowrap="nowrap"><p align="center">2</p></td>
                <td width="289" valign="bottom"><p align="center">35470</p></td>
              </tr>
              <tr>
                <td width="295" nowrap="nowrap"><p align="center">3</p></td>
                <td width="289" valign="bottom"><p align="center">36470</p></td>
              </tr>
              <tr>
                <td width="295" nowrap="nowrap"><p align="center">4</p></td>
                <td width="289" valign="bottom"><p align="center">39680</p></td>
              </tr>
              <tr>
                <td width="295" nowrap="nowrap"><p align="center">5</p></td>
                <td width="289" valign="bottom"><p align="center">42550</p></td>
              </tr>
              <tr>
                <td width="295" nowrap="nowrap"><p align="center">6</p></td>
                <td width="289" valign="bottom"><p align="center">43700</p></td>
              </tr>
              <tr>
                <td width="295" nowrap="nowrap"><p align="center">7</p></td>
                <td width="289" valign="bottom"><p align="center">45700</p></td>
              </tr>
              <tr>
                <td width="295" nowrap="nowrap"><p align="center">8</p></td>
                <td width="289" valign="bottom"><p align="center">46700</p></td>
              </tr>
              <tr>
                <td width="295" nowrap="nowrap"><p align="center">9</p></td>
                <td width="289" valign="bottom"><p align="center">47020</p></td>
              </tr>
            </table> -->
            <!-- <p> Detail of Salary Being Paid By The School To Teaching Staff/Non Teaching Staff </p> -->
            <!-- <table class="table table-bordered table-hover table-striped"> -->
            <!-- <tr class="info"> -->
            <!-- <td width="235" valign="bottom"><p><strong>Designation</strong><strong> </strong></p></td> -->
            <!-- <td width="295" valign="bottom"><p><strong>Total Emoluments(INR)</strong><strong> </strong></p></td> -->
            <!-- </tr> -->
            <!-- <tr> -->
            <!-- <td width="235" valign="top"><p>Principal </p></td> -->
            <!-- <td width="295" valign="top"><p>1,50,000 </p></td> -->
            <!-- </tr> -->
            <!-- <tr> -->
            <!-- <td width="235" valign="top"><p>PGT </p></td> -->
            <!-- <td width="295" valign="top"><p>24,150-36,960 </p></td> -->
            <!-- </tr> -->
            <!-- <tr> -->
            <!-- <td width="235" valign="top"><p>TGT </p></td> -->
            <!-- <td width="295" valign="top"><p>16,500-25,200 </p></td> -->
            <!-- </tr> -->
            <!-- <tr> -->
            <!-- <td width="235" valign="top"><p>PRT </p></td> -->
            <!-- <td width="295" valign="top"><p>14,000-18,820 </p></td> -->
            <!-- </tr> -->
            <!-- <tr> -->
            <!-- <td width="235" valign="top"><p>Librarian </p></td> -->
            <!-- <td width="295" valign="top"><p>13,080 </p></td> -->
            <!-- </tr> -->
            <!-- </table> -->
            <br>
            <p>
            </p><h5> Payment Mode of Salary </h5>
            (i) Name of the Bank through which salary is Drawing   : MAHESH BANK<br>
            (ii) Through single cheque transfer advice – YES<br>
            (iii) Individual Cheque – NO <br>
            (iv) Cash  – NO<br>
            <p></p>
            <br>
            <p>
            </p><h5>Area Of School Campus</h5>
            (i) In Acres :-2 Acres<br>
            (ii) In Sq. mtrs. – 8240<br>
            (iii) Built up area (sq. mtrs.) –  4555<br>
            (iv) Area of Playground in Sq. mtrs: – Approx. 4000 <br>
            <p></p>
            <br>
            <p>
            </p><h5>Other Facilities</h5>
            (i) Swimming Pool :- No <br>
            (ii) Indoor games : – YES <br>
            (iii) Dance Rooms : – YES <br>
            (iv) Gymnasium : – YES <br>
            (v) Music Rooms : – YES <br>
            (vi) Hostels : – No <br>
            (vii) Health and Medical Check up : – YES <br>
            (viii) Activity Room :-- Yes <br>
            (ix)  Composite Lab :-- Yes <br>
            <p></p>
            <br>
            <p>
            </p><h5>Transport Facility</h5>
            (i) Own buses – 5 Buses 1 van<br>
            (ii) Details of transport charges – Rs. 3000/- Quarterly<br>
            <p></p>
            <p>
            </p><h5>Library Facilities</h5>
            (i) Size of the Library in sq. feet – 1500 Sq Ft<br>
            (ii) No. of Periodicals – 4<br>
            (iii) No. of Dailies – 2<br>
            (iv) No. of reference books class-wise – 700<br>
            (v) No. of Magazine – 10<br>
            (vi) Others – 1000 Books<br>
            <p></p>
            <p></p>
            <br>
        </div>
        <!--  <div class="col-md-3" align="left">
            <img src="https://via.placeholder.com/500x550" class="img-responsive img-thumbnail zoom">
            </div>    -->
    </div>
</section>


<div class="clearfix"></div>

<div class="clearfix"></div>