@{
    ViewBag.Title = "Welcome to : Maheshwari Public School Bhilwara";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";

}

   
    <hr>

    <!-- end of masterslider -->
    <div class="clearfix"></div>


    <div class="clearfix"></div>
    <section class="sec-padding" style="background-image:url(images/product_bg.png);">
        <div class="container">



            <div class="col-md-3" align="left">
                <img src="~/images/chairman.jpg" class="img-responsive img-thumbnail zoom">
                <br><br>
                <h5 align="center">Om Prakash Naraniwal <br> ( Chairman  )  </h5>

            </div>


            <div class="col-md-9" align="left">
                <h3 class="section-title droid-serif"> <span class="text-black"> <strong>Chairman's Desk </strong></span> </h3>
                <p align="justify" align="justify">  My greetings to all   </p>

                <p align="justify" align="justify">  Great that you have talked to opt for tins to do which has been envisioned to ascend  exceedingly superior in the field of life of students who ever Attains education here, the video purpose of any education in the world explicitly determines basically three attributes ie Navigation in life, rhetoric! The ability to raise quarries and character which can be understood as aptitude to excel in every walk of life . </p>
                <p align="justify" align="justify">  In my experience of more then last five decades i have seen education transforming in visible form, present day education system demands more than scribes of paper, society as a suppressed global village remains connected to far and wide region of globe, young minds are exposed to information onslaught, demographic endowments are being reformulated and world is being given new identity. </p>
                <p align="justify" align="justify">  Simultaneously in the changing paradigm as happens merits have limitation, in pursuance of excellence and competition our society has fallen victim to impropriety of information, today our education system demands a robust design that can ensure future of our coming generations without compromising their well- being a social , national or family individual . </p>
                <p align="justify" align="justify">  In our endeavour our society to take up the challenge paused by competence of survival we have to ensure an environment where these young minds can be trained and equipped with abilities of superior intelligence , robust physical capacities and rational emotional empowerment. </p>
                <p align="justify" align="justify">  I submit to state with absolute pleasure that MPS is the name that stands tall in all the spheres needed to be counted for the growth of any student , Shree Mahesh Seva Samiti- Bhilwara is dedicated to its commitment of providing deemed resources to pur educational institute that can ensure a cherishes future to our children. </p>
                <p align="justify" align="justify">  I am delighted in ensuring you that we'd remain persistent and committedly avowed to have our best intentions in providing resources of 21st century demands. </p>

                <br>
            </div>




        </div>
    </section>


    <div class="clearfix"></div>

    <div class="clearfix"></div>
