@{
    ViewBag.Title = "Welcome to : Maheshwari Public School Bhilwara";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";

}
   <hr>
    
  <!-- end of masterslider -->
  <div class="clearfix"></div>
    
   <!-- end section -->
     <div class="clearfix"></div>   
   	<section class="sec-padding" style="background-image:url(images/product_bg.png);"> 
    	<div class="container">       
 
       <div class="col-md-8" align="left">
       
       <h3 class="section-title droid-serif"> <span class="text-black"> Educational Tours n Trips </strong></span> </h3>
       
       <p> MPS BHILWARAorganizes Educational tours by creating excursions for students.AS the aim of MPS is to inspire students to develop new skills and friends to increase their understanding of international issue and other cultures and to unite them as part of a global community who can work together and rise to the challenges of the world we live in.   </p>  
       
       <p>  Our educational tour itineraries go beyond just seeing the sights. In an Archaeological Survey done by the students of MPS under the aegis of ALP, their learning about archaeological fieldwork is an immersive experience where teamwork is essential. After experience is this, the students of MPS learn Consulting document, maps, aerial photos, Remote Sensing data and oral history during excavation and survey. </p>
       <p> The Trip focuses on developing leadership and teamwork skills, building self-confidence and facilitating young girls to re-evaluate some of their beliefs, attitudes and assumptions, particularly around different cultures and their own priorities life. </p>
              
       </div> 
       
        <div class="col-md-4" align="left"><br>
<br>

        <img src="~/images/tour.JPG" class="img-responsive img-thumbnail zoom">
        </div>
                      
        
     </div>
  </section>
  
          
  <div class="clearfix"></div>
     
  <div class="clearfix"></div>

