@{
    ViewBag.Title = "Welcome to : Maheshwari Public School Bhilwara";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";

}

  <!-- masterslider -->
<hr>

<!-- end of masterslider -->
<div class="clearfix"></div>

<!-- end section -->
<div class="clearfix"></div>
<section class="sec-padding" style="background-image:url(images/product_bg.png);">
    <div class="container">

        <div class="col-md-12" align="left">
            <h3 class="section-title droid-serif"> <span class="text-black"> Examination Record Sheet   </span> </h3>



            <table class="table table-bordered table-hover table-striped">
                <tr class="info">
                    <td width="320" valign="top"><p align="center"><strong>Junior Wing</strong></p></td>
                    <td width="388" valign="top"><p align="center"><strong>Senior Wing</strong></p></td>
                </tr>
                <tr>
                    <td width="708" colspan="2" valign="top"><p><strong><u>Modality of Examination    : </u></strong></p></td>
                </tr>
                <tr>
                    <td width="320" valign="top">
                        <p>
                            3    Terms in a year <br />
                            Term    – 1  : September <br />
                            Term    – 2   December<br />
                            Term    – 3 : Feb - March
                        </p>
                    </td>
                    <td width="388" valign="top">
                        <p>Senior    wing examination consist in 4 Part </p>
                        <ol>
                            <li>Periodic – 1 : April</li>
                            <li>Half-yearly :   September</li>
                            <li>Periodic – 2 :  December</li>
                            <li>Annual Exam : Feb -    March</li>
                        </ol>
                    </td>
                </tr>
                <tr>
                    <td width="708" colspan="2" valign="top"><p><strong><u>Conduction of    Examination </u></strong></p></td>
                </tr>
                <tr>
                    <td width="320" valign="top">
                        <p>
                            <strong>CIS (Cognitive Inference System) :</strong>To make education a    better aspect of student life, MPS has been striving hard to create and <strong>innovate</strong> best stratgeis that can meet    21st century on our cultural ground.<br />
                            MPS    follows a methodology of <strong>cognitive    intelligence ALP(Accelerted Learning Program)</strong> in which energies are    invested in distributing <strong>Education in    life</strong>of students that to their notebook or others.
                        </p>
                    </td>
                    <td width="388" valign="top">
                        <p>
                            <strong>Written :</strong>This pen paper based    exam brings out the talent in pulling out the talent of how one should learn    and perform the given task of writing in given time<br />
                            It    helps student to understand about how much they perceive the concept and    further how they are able to explain it in writing.<br />
                            It    gives student a platform to build their confidence of writing and to make    them knw about their course by their own.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="320" valign="top">
                        <p>
                            <strong>Written :</strong>This pen paper based    exam brings out the talent in pulling out the talent of how one should learn    and perform the given task of writing in given time.<br />
                            It    helps student to understand about how much they perceive the concept and    further how they are able to explain it in writing.<br />
                            It    gives student a platform to build their confidence of writing without copying    from the board and without help of teacher
                        </p>
                    </td>
                    <td width="388" valign="top">
                        <p>
                            <strong>Activity Based :</strong>This gives a big    advantage in pulling out the capacity of the student to the fullest<br />
                            It    tells the student that in how many different ways they can perform for one    topic via given task.<br />
                            Student    perform in the activity without any pressure and even enjoy the given task.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="320" rowspan="2" valign="top"><p><strong>Oral :</strong>This  basically to improve their speaking of what    they know on the topic and ability to explain verbally.</p></td>
                    <td width="388" valign="top"><p><strong>Viva :</strong> This  basically to improve their speaking of what    they know on the topic and ability to explain verbally.</p></td>
                </tr>
                <tr>
                    <td width="388" valign="top"><p><strong>Practical :</strong>Foe Science and Computer    practicals  are conducted. </p></td>
                </tr>
            </table>

            <p>&nbsp;</p>
            <hr />


            <h3 class="section-title droid-serif"> Sample of Date Sheet – Junior Wing </h3>


            <table class="table table-bordered table-hover table-striped">
                <tr>
                    <td width="738" colspan="8" valign="top">
                        <p align="center">
                            <strong>MAHESHWARI    PUBLIC SCHOOL(Girls)</strong><br />
                            <strong>SECTOR – G ,BEHIND  RAMDHAM, AZAD NAGAR BHILWARA</strong><br />
                            <strong>Annual Examination (2019-20)</strong><br />
                            <strong><u>Date Sheet : LKG</u></strong><strong><u> </u></strong>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="63" valign="top"><p><strong>Date →</strong><strong> </strong></p></td>
                    <td width="85" valign="top"><p><strong>27th  Feb 20</strong></p></td>
                    <td width="95" valign="top"><p><strong>28th    Feb 20</strong></p></td>
                    <td width="85" valign="top"><p><strong>29th    Feb 20</strong></p></td>
                    <td width="85" valign="top"><p><strong>2nd    Mar 20</strong></p></td>
                    <td width="85" valign="top"><p><strong>3rd    Mar 20</strong></p></td>
                    <td width="95" valign="top"><p><strong>4th    Mar</strong></p></td>
                    <td width="145" valign="top"><p><strong>5th    Mar 20</strong></p></td>
                </tr>
                <tr>
                    <td width="63" valign="top"><p><strong>Day →</strong></p></td>
                    <td width="85" valign="top"><p><strong>Thursday</strong></p></td>
                    <td width="95" valign="top"><p><strong>Friday</strong></p></td>
                    <td width="85" valign="top"><p><strong>Saturday</strong></p></td>
                    <td width="85" valign="top"><p><strong>Monday</strong></p></td>
                    <td width="85" valign="top"><p><strong>Tuesday</strong></p></td>
                    <td width="95" valign="top"><p><strong>Wednesday</strong></p></td>
                    <td width="145" valign="top"><p><strong>Thursday</strong></p></td>
                </tr>
                <tr>
                    <td width="63" valign="top"><p><strong>Sub</strong></p></td>
                    <td width="85" valign="top"><p>Hindi-CIS </p></td>
                    <td width="95" valign="top"><p>Hindi(W+O)</p></td>
                    <td width="85" valign="top"><p>Eng (W+O)</p></td>
                    <td width="85" valign="top"><p>Eng(CIS)</p></td>
                    <td width="85" valign="top"><p>Maths(W)</p></td>
                    <td width="95" valign="top"><p>Maths(CIS)</p></td>
                    <td width="145" valign="top"><p>EVS(O), Drawing(W)</p></td>
                </tr>
                <tr>
                    <td width="738" colspan="8" valign="top">

                        <table class="table table-bordered">
                            <tr>
                                <td width="745" colspan="7"><p align="center"><strong>Markings Scheme of Annual Examination      (2019-20)</strong> </p></td>
                            </tr>
                            <tr>
                                <td width="36">
                                    <p align="center">
                                        S.<br />
                                        No
                                    </p>
                                </td>
                                <td width="66"><p align="center">Subject</p></td>
                                <td width="188">
                                    <p align="center">
                                        CIS - Marks<br />
                                        (Cognitive Inference System)<br />
                                        Task based/Activity Based
                                    </p>
                                </td>
                                <td width="84" valign="top"><p>Written      Exam Marks</p></td>
                                <td width="150">
                                    <p align="center">
                                        Scholastic<br />
                                        (CW/HW - Marks<br />
                                        Assignments based )
                                    </p>
                                </td>
                                <td width="138">
                                    <p align="center">
                                        Oral<br />
                                        (Listening/Speaking)
                                    </p>
                                </td>
                                <td width="84">
                                    <p align="center">
                                        Total<br />
                                        (MM)
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td width="36" valign="top"><p>1</p></td>
                                <td width="66" valign="top"><p>Hindi </p></td>
                                <td width="188" valign="top"><p>60</p></td>
                                <td width="84" valign="top"><p>20</p></td>
                                <td width="150" valign="top"><p>10</p></td>
                                <td width="138" valign="top"><p>10</p></td>
                                <td width="84" valign="top"><p align="center">100</p></td>
                            </tr>
                            <tr>
                                <td width="36" valign="top"><p>2</p></td>
                                <td width="66" valign="top"><p>English</p></td>
                                <td width="188" valign="top"><p>60 </p></td>
                                <td width="84" valign="top"><p>20</p></td>
                                <td width="150" valign="top"><p>10</p></td>
                                <td width="138" valign="top"><p>10</p></td>
                                <td width="84" valign="top"><p align="center">100</p></td>
                            </tr>
                            <tr>
                                <td width="36" valign="top"><p>3</p></td>
                                <td width="66" valign="top"><p>Maths</p></td>
                                <td width="188" valign="top"><p>70 </p></td>
                                <td width="84" valign="top"><p>20</p></td>
                                <td width="150" valign="top"><p>10</p></td>
                                <td width="138" valign="top"><p>----------</p></td>
                                <td width="84" valign="top"><p align="center">100</p></td>
                            </tr>
                            <tr>
                                <td width="36" valign="top"><p>4</p></td>
                                <td width="66" valign="top"><p>EVS</p></td>
                                <td width="188" valign="top"><p>------</p></td>
                                <td width="84" valign="top"><p>----</p></td>
                                <td width="150" valign="top"><p>----------</p></td>
                                <td width="138" valign="top"><p>50</p></td>
                                <td width="84" valign="top"><p align="center">50</p></td>
                            </tr>
                            <tr>
                                <td width="36" valign="top"><p>5</p></td>
                                <td width="66" valign="top"><p>Drawing</p></td>
                                <td width="188" valign="top"><p>-----</p></td>
                                <td width="84" valign="top"><p>50</p></td>
                                <td width="150" valign="top"><p>-----------</p></td>
                                <td width="138" valign="top"><p>----------</p></td>
                                <td width="84" valign="top"><p align="center">50</p></td>
                            </tr>
                        </table>
                        <div class="clearfix"></div>


                        <p>
                            <strong>Note:-</strong>1.       School timing  during    examinations : <strong>As per  the circular</strong><br />
                            2.    Exams can neither be Postponed nor    Preponed under any circumstances.<br />
                            3.  <strong>  Parents Teacher Meeting </strong>will be held on <strong> 10th Feb 2020 (Monday)</strong>  from     9:00 AM to 11:30 AM<br />
                            Kindly bring students    communication diary and it remains holiday for students on PT meeting.<br />
                            4.    <strong>Result Declaration</strong> will be held on 13th    Mar 2020.(Friday) Time : 9:00Am to 11:30 AM <br />
                            5<strong>.       The New Session 2020-21 Commences from 19th March 2020    (Wednesday)</strong><br />
                            6.   All the dues shall be (if any) cleared    before <strong>Annual Exmas.</strong>
                        </p>
                    </td>
                </tr>
            </table>

            <br>
        </div>




    </div>
</section>


<div class="clearfix"></div>

<div class="clearfix"></div>