@{
    ViewBag.Title = "Welcome to : Maheshwari Public School Bhilwara";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";

}

<hr>

<!-- end of masterslider -->
<div class="clearfix"></div>

<!-- end section -->
<div class="clearfix"></div>
<section class="sec-padding" style="background-image:url(~/images/product_bg.png);">
    <div class="container">

        <div class="col-md-8" align="left">
            <h3 class="section-title droid-serif"> <span class="text-black"> Facilities   </strong></span> </h3>
            <p align="justify" align="justify">    <strong>Smart Classes</strong>   </p>
            <li> All the classes are fitted with smart classes. Overall 28 smart classes are structured in the school. </li>
            <li> Every Smart class has state of art technology interface. </li>
            <li> All the Smart Classes are centrally connected with main server for content access. </li>
            <li> All the smart classes are fitted with customized solutions. </li>
            <li> All the smarts classes are centrally supervised and centrally access of intervention is provided. </li>

            <br>

            <p align="justify" align="justify">    <strong> Computer’s Lab  </strong>   </p>
            <li>  All the computers are having i5and aboveconfiguration. </li>
            <li>  All the PCs have licensed windows 10 and above advanced operatingsoftware. </li>
            <li>  Computers Lab is centrally networked and server operated to make surveillance          accessible. </li>
            <li>  All the computers in Lab provided with fiber optic lease line internet.  </li>
            <li>  Students are taught with advanced language and programs other than prescribed coursed.  </li>
            <li>  Facility of per student per PC is provided in computer lab. </li>

            <br>

            <p align="justify" align="justify"> <strong> Transportation </strong>   </p>
            <p> The need for safe passage of each child to school and back home is of paramount importance to us. An overview to ensure safe travel to all students: </p>
            <li> The school has its own fleet of school buses.  </li>
            <li> Buses aredesignedand fitted as per the safety standards and norms.  </li>
            <li> Transport manager is appointed to look after operational management.  </li>
            <li> School Coordinators and authorities are present to oversee and analyses conduction of transport.  </li>
            <li> Each bus has Trained Driver (with valid licenseand ID Card provided by school) along with trained and skilled attendant.  </li>
            <li> GPS System are installed in all buses.  </li>
            <li> Personnel sensitized are also available for the small needs of students.  </li>
            <li> All the buses are fitted with requisite first aid as per government guidelines such as speed governors. </li>


            <br>

            <p align="justify" align="justify"> <strong> Laboratory   </strong>   </p>
            <li> Science Lab is fitted with Equipments and accessories as per cbsc guidelines.  </li>
            <li> LSM (Laboratory Safety Manual) and safety measures is available in the lab.  </li>
            <li> Science lab infrastructure is well furnished, equipped with requisite technology and safety measures including comprehensive first aid kit. </li>
            <li> Specimens are provided according to the planning to the students to examine or study their course topics. </li>
            <li> Lab assistant is put at work.  </li>
            <li> MPS emphasize learning in experience.   </li>

            <br>

            <p align="justify" align="justify"> <strong> Library    </strong>   </p>
            <li> Equipped with all modern amenities.  </li>
            <li> A huge collection of academic fictions, biographies, contemporary books.  </li>
            <li> Students are given full access to library.  </li>
            <li> Special seminar and conduction of programs are organized to develop reading habits amongst student.  </li>
            <li> Students are trained and taught about utilities of books  </li>
            <li> Quite specious and located away from distractions.  </li>
        </div>

        <div class="col-md-3" align="left">
            <img src="~/images/facilities-1.jpg" class="img-responsive img-thumbnail zoom">
            <p>&nbsp;</p>
            <img src="~/images/facilities-2.jpg" class="img-responsive img-thumbnail zoom">
            <p>&nbsp;</p>
            <img src="~/images/facilities-4.jpg" class="img-responsive img-thumbnail zoom">
            <p>&nbsp;</p>
            <img src="~/images/facilities-3.jpg" class="img-responsive img-thumbnail zoom">
        </div>
    </div>
</section>
<div class="clearfix"></div>