@{
    ViewBag.Title = "Welcome to : Maheshwari Public School Bhilwara";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";

}

<hr>

<!-- end of masterslider -->
<div class="clearfix"></div>

<!-- end section -->
<div class="clearfix"></div>
<section class="sec-padding" style="background-image:url(images/product_bg.png);">
    <div class="container">

        <div class="col-md-8" align="left">

            <h3 class="section-title droid-serif"> <span class="text-black"> <strong>Mahesh Sewa Samiti  </strong></span> </h3>

            <p> The people behind vision of Maheshwari Public School, do come from reputed, successful, regarded and highly expert backgrounds, who hav elect their footprints in every walk of their life. They dwelled into or are there with.   </p>

            <p> <strong> Mahesh Sewa Samiti Desk </strong></p>

            <p> In our endeavour our society to take up the challenge paused by competence of survival we have to ensure an environment where these young minds can be trained and equipped with abilities of superior intelligence , robust physical capacities and rational emotional empowerment. </p>

            <p>  We, submit to state with absolute pleasure that MPS is the name that stands tall in all the spheres needed to be counted for the growth of any student , Shree Mahesh Seva Samiti- Bhilwara is dedicated to its commitment of providing deemed resources to pur educational institute that can ensure a cherishes future to our children.  </p>

            <p> We are delighted in ensuring you that we'd remain persistent and committedly avowed to have our best intentions in providing resources of 21st century demands.  </p>

        </div>

        <div class="col-md-3" align="left">
            <a href="~/images/pospectus-maheshwari.bmp" rel="group" class="fbox"><img src="~/images/pospectus-maheshwari.bmp" class="img-responsive img-thumbnail zoom"> </a>
        </div>


    </div>
</section>


<div class="clearfix"></div>

<div class="clearfix"></div>