@{
    ViewBag.Title = "Welcome to : Maheshwari Public School Bhilwara";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";

}
<hr>

<!-- end of masterslider -->
<div class="clearfix"></div>





<!-- end section -->
<div class="clearfix"></div>
<section class="sec-padding" style="background-image:url(images/product_bg.png);">
    <div class="container">



        <div class="col-md-8" align="left">
            <h3 class="section-title droid-serif"> <span class="text-black"><strong> Accelerated learning program  </strong></span> </h3>

            <p align="justify" align="justify">
                The purpose of any education remains the applicability of text and ideology in life. It's pervasively observed that today's text base education deprives cognizance of a child into fringe of application. From time on, educationists been trying to devise applicability of text into life to implement as a core ideology . ALP is designed to fill the gap of text and its applicability manifested as cherished childhood with superiorly informed mind.
            </p>
            <p align="justify" align="justify">
                One of the goals of education is to create a desire to continue learning, and one of the duties of a teacher is to create this curiosity in his/her students. If students really want yo learn they will be taking responsibility for their own leaning.
            </p>

            <p align="justify" align="justify">
                Accelerated Learning Program is an innovative approach that accelerates the process of learning which is deeper and more effective. It can be termed as complementary education system since the end point is same as formal education but makes the knowledge reach in less time. It is more psyche-centric and students centered learning environment . It develops positive attitude in the laerners towards gaining knowledge . Under this system they will not see education as something forced upon to but as a way to improve their lives and as thing to enjoy.
            </p>

            <p align="justify" align="justify">
                It is very important to understand the learning cycle of this method for both learners and teachers yo enhance the learning process. This theory is basically divided in four stage i.e. Concrete , Experience, Reflective observation , Abstract conceptualisation and Active Experimentation. The first stage of learning cycle entails a concrete introduction that they have a resourceful mind, goal, affirmation and plan which they can review by sequencing, remembering and focusing to a situation or problem which forms the bais of new - learning experience.
            </p>


            <p align="justify" align="justify">  In a second stage, the learner thinks about and articulates the whys and how's of their concrete experience through ability of multi - sensory intake by optical, auditory and inception means. In the third stage, the learner begins to understand the General concept of which the concrete experience was an example through their intelligence of linguistics and physical knowledge, logical reasoning, visual effects , interpersonal and intra personal communication. In the fourth stage, the learner uses theory to make predictions through their congizance , Intelligence , navigation of thoughts and behaviour and test their assumption by applying and performing the experience and communicating amd reflecting the conceptualised knowledge. </p>

            <p align="justify" align="justify">
                The purpose of the combination of formal and informal system if education is to learn valuable life skills and knowledge . Everyone should succeed and develop self - discipline and confidence . It is learning by experience with no competition.
            </p>

            <p align="justify" align="justify">
                The whole purpose of education remains equipping students with three major aspects:-
            </p>

            <p align="justify" align="justify">
                <li> Navigation in life. </li>
                <li> Rhetoric ( ability to raise, inquire, respond assertions) </li>
                <li> Character , these virtues are manifestation of multiple abilities and real skills training, which come as product of spontaneous blending of text, global perspective, psychology etc. </li>
            </p>

            <p align="justify" align="justify"> As keeping the soul objective of enhancing aforementioned goals:-  </p>

            <p align="justify" align="justify">
                MPS follows Accelerated learning that taps into a natural or "brain friendly" way of learning . It uses a variety of tools and techniques to cumulative increase our students retention of learning. It is a comprehensive , innovative, proven methodology that greatly increases our students capacity to learn, problem-solving and creates .
            </p>

            <p align="justify" align="justify">
                In Mps students have been taught to logically plan, order and exhibit accquried of knowledge , as a Result, the experience a quantum shift in their development, skills and competence but something a learner creates. Therefore, approaches to instruction is more actively - based, rather than presentation - based.
            </p>

            <p align="justify" align="justify">
                MPS has the vision to spread the whole brain learning system among the students . Over the course of our training we ensure that students will embark on a profound journey of self- devlopment and self - discovery. To have in place what it is that is required for them to excel in all fields of life. With an intention, to make difference in the way children learn, we have designed programs in thr way children can grasp or understand from it . Hence, our programs are comprehensive in terms of making a difference to a child's life from all the area that creates am impact on their learning.
            </p>

            <p align="justify" align="justify">
                Our mission is to facilitate the learning towards as a rapid enhancement in ways that is meaningful to them utilising their own internal resources.
            </p>

            <p align="justify" align="justify"> Our enrichment provision is at ghr heart of our determination to ensure that our students have an outstanding all - round experience of education. We empower students to grow into intelligent adults and accelerated learning skills will help them gain edge over the competition and make them socially aware of the issue that they face while they are growing.  </p>

            <br>
        </div>

        <div class="col-md-4" align="left">
            <br> <br> <br>

            <p><img src="~/images/alp_img-logo.jpg" class="img-responsive"></p><br> <br>
            <p><img src="~/images/alp_img.jpg" class="img-responsive"></p>
        </div>

    </div>
</section>


<div class="clearfix"></div>

<div class="clearfix"></div>