@{
    ViewBag.Title = "Welcome to : Maheshwari Public School Bhilwara";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";

}
   <hr>
    
  <!-- end of masterslider -->
  <div class="clearfix"></div>
    
   <!-- end section -->
     <div class="clearfix"></div>   
   	<section class="sec-padding" style="background-image:url(images/product_bg.png);"> 
    	<div class="container">       
 
       <div class="col-md-12" align="left">
       
       <h3 class="section-title droid-serif"> <span class="text-black"> Others Activity at MPS  </span> </h3>
       
       <p>  MPS provides Special platforms to enhance student’s knowledge and skills. Knowledge leads to confidence. By participating and performing in such Activities, The students feel confident enough wherever they will move further in their life. Such activities are :   </p>
       
       <li> Olympiads </li>
       <li> literary Festival  </li>
       <li> Intra & Inter Stage Performance   </li>
       <li> Yoga  </li>
       <li> Self Defense Training </li>
       
       
        
       </div> 
       
       <!--  <div class="col-md-3" align="left">
        <img src="https://via.placeholder.com/500x550" class="img-responsive img-thumbnail zoom">
        </div>    -->   
                      
        
     </div>
  </section>
  
          
  <div class="clearfix"></div>
     
  <div class="clearfix"></div>
 

