@{
    ViewBag.Title = "Welcome to : Maheshwari Public School Bhilwara";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";

}

<hr>

<!-- end of masterslider -->
<div class="clearfix"></div>

<!-- end section -->
<div class="clearfix"></div>
<section class="sec-padding" style="background-image:url(images/product_bg.png);">
    <div class="container">

        <div class="col-md-12" align="left">
            <h3 class="section-title droid-serif"> <span class="text-black"> <strong>Our Team    </strong></span> </h3>
            <p align="justify" align="justify">
                <table class="table table-bordered table-hover table-striped">
                    <tr class="info">
                        <td width="283" nowrap="nowrap"><p align="center"><strong>Teacher's Name</strong></p></td>
            <td width="224" nowrap="nowrap"><p align="center"><strong>Designation</strong></p></td>
            </tr>
            <tr>
                <td width="283" nowrap="nowrap"><p>Aishwarya Sharma</p></td>
                <td width="224" nowrap="nowrap"><p>PTI</p></td>
            </tr>
            <tr>
                <td width="283" nowrap="nowrap"><p>Ankita Ranawat</p></td>
                <td width="224"><p>Dance Choreographer</p></td>
            </tr>
            <tr>
                <td width="283" nowrap="nowrap"><p>Anshu Jain</p></td>
                <td width="224" nowrap="nowrap"><p>Counselor</p></td>
            </tr>
            <tr>
                <td width="283" nowrap="nowrap"><p>Chaitali Goswami</p></td>
                <td width="224" nowrap="nowrap"><p>PRT Hindi</p></td>
            </tr>
            <tr>
                <td width="283" nowrap="nowrap"><p>Ekta Arora</p></td>
                <td width="224"><p>Academic Coordinator</p></td>
            </tr>
            <tr>
                <td width="283" nowrap="nowrap"><p>Kailash Gandharve</p></td>
                <td width="224"><p>Music Instructor</p></td>
            </tr>
            <tr>
                <td width="283" nowrap="nowrap"><p>Lalit Bharanga</p></td>
                <td width="224"><p>Music Instructor</p></td>
            </tr>
            <tr>
                <td width="283" nowrap="nowrap"><p>Manisha Kacchawaha</p></td>
                <td width="224" nowrap="nowrap"><p>PRT English</p></td>
            </tr>
            <tr>
                <td width="283" nowrap="nowrap"><p>Nitin Kothari</p></td>
                <td width="224" nowrap="nowrap"><p>TGT Maths</p></td>
            </tr>
            <tr>
                <td width="283" nowrap="nowrap"><p>Neha Shrotriya </p></td>
                <td width="224" nowrap="nowrap"><p>PRT EVS</p></td>
            </tr>
            <tr>
                <td width="283" nowrap="nowrap"><p>Pawan Singh</p></td>
                <td width="224"><p>Office Assistant</p></td>
            </tr>
            <tr>
                <td width="283" nowrap="nowrap"><p>Payal Jain</p></td>
                <td width="224" nowrap="nowrap"><p>PRT Maths</p></td>
            </tr>
            <tr>
                <td width="283" nowrap="nowrap"><p>Priti Dadheech</p></td>
                <td width="224" nowrap="nowrap"><p>PRT English</p></td>
            </tr>
            <tr>
                <td width="283" nowrap="nowrap"><p>Priti Sharma</p></td>
                <td width="224" nowrap="nowrap"><p>PRT Hindi</p></td>
            </tr>
            <tr>
                <td width="283" nowrap="nowrap"><p>Pankaj Dadhich </p></td>
                <td width="224" nowrap="nowrap"><p>TGT Hindi</p></td>
            </tr>
            <tr>
                <td width="283" nowrap="nowrap"><p>Priyanka Chhaparwal</p></td>
                <td width="224" nowrap="nowrap"><p>TGT Science</p></td>
            </tr>
            <tr>
                <td width="283" nowrap="nowrap"><p>Priyanka Saraswat</p></td>
                <td width="224" nowrap="nowrap"><p>PRT Hindi</p></td>
            </tr>
            <tr>
                <td width="283" nowrap="nowrap"><p>Richa Jain</p></td>
                <td width="224" nowrap="nowrap"><p>PRT English</p></td>
            </tr>
            <tr>
                <td width="283" nowrap="nowrap"><p>Rishya Mittal</p></td>
                <td width="224"><p>Office Coordinator</p></td>
            </tr>
            <tr>
                <td width="283" nowrap="nowrap"><p>Ruchi Rastogi</p></td>
                <td width="224" nowrap="nowrap"><p>TGT S.St</p></td>
            </tr>
            <tr>
                <td width="283" nowrap="nowrap"><p>Seema Sharma</p></td>
                <td width="224" nowrap="nowrap"><p>PRT Maths</p></td>
            </tr>
            <tr>
                <td width="283" nowrap="nowrap"><p>Sfurti Buliya</p></td>
                <td width="224" nowrap="nowrap"><p>TGT  Hindi</p></td>
            </tr>
            <tr>
                <td width="283" nowrap="nowrap"><p>Snehlata Sharma</p></td>
                <td width="224"><p>IT Coordinator</p></td>
            </tr>
            <tr>
                <td width="283" nowrap="nowrap"><p>Vandana Singh</p></td>
                <td width="224" nowrap="nowrap"><p>TGT English</p></td>
            </tr>
            <tr>
                <td width="283" nowrap="nowrap"><p>Vijay Laxmi Sharma</p></td>
                <td width="224" nowrap="nowrap"><p>PRT Hindi</p></td>
            </tr>
            <tr>
                <td width="283" nowrap="nowrap"><p>Vikas Jain</p></td>
                <td width="224"><p>Yoga Instructor</p></td>
            </tr>
            </table> </p>

            <br>
        </div>

        <!--  <div class="col-md-3" align="left">
         <img src="https://via.placeholder.com/500x550" class="img-responsive img-thumbnail zoom">
         </div>    -->


    </div>
</section>


<div class="clearfix"></div>

<div class="clearfix"></div>