@{
    ViewBag.Title = "Welcome to : Maheshwari Public School Bhilwara";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";

}

<hr>

<!-- end of masterslider -->
<div class="clearfix"></div>

<!-- end section -->
<div class="clearfix"></div>
<section class="sec-padding" style="background-image:url(images/product_bg.png);">
    <div class="container">

        <div class="col-md-8" align="left">
            <h3 class="section-title droid-serif"> <span class="text-black"> MPS : A Glimpse  </strong></span> </h3>
            <p align="justify" align="justify">  Experiential learning  Extended school activities Paperless  administration Virtual classroom </p>

            <li> Experiential learning  </li>
            <li> Extended school activities </li>
            <li> Paperless  administration </li>
            <li> Virtual classroom </li>

            <hr>
            <li> The best practices of the Indian Education System having varied and outward approach to amalgamate best in international stage . </li>
            <li> Online assignment and assessment </li>
            <li> Online support to parents, teachers, students and educators of CIE website </li>
            <li> Online registration , admission and fee submission </li>
            <li> Study of cultures of the world and foreign languages </li>
            <li> National and International Examination such as Olympiads, UNSW, Australia ,Matheletics online competition , etc. </li>
            <li> Community service and participation in social programs such as Sewa, care </li>
            <li> Environmental protection , Organic Farming, Paperless Learning, Gaushala Activities , Vanaushidi and Old Age Home , Contributing to Nature and society in any form </li>
            <li> Career guidance for admissions into Indian and foreign Universities conduct of NTSE, SAT, TESOL and IELTS TESTS etc. </li>
            <li> SMS and e - mail alerts for parents </li>
            <li> Internet and technology based Education </li>
            <li> Virtual classroom - online education , assessment and evaluation </li>
            <li> 24×7 online administrative functions anytime , anywhere educational support </li>
            <li> Standard safety measures and awareness programs </li>

            <br>

            <h3 class="section-title droid-serif"> <span class="text-black"> Value Education </strong></span> </h3>

            <p> Based on the rock foundation off Bhartiya value and international education MPS students will be well equipped to handle large issue based on their in-depth understanding of the core subjects and contectat a much higher level. They would learn about the function of United Nations through model UN conferences and seminar mock w h o meets  mock UNICEF programs model Indian parliament and and several other high level programs they will learn about the the species that are about to be extinct and mobilise their community to save them thought campaigns and other media. </p>

            <p> they will learn the value of healthy living through will being club activities.they would participate in various community programs of the upliftment of the the disadvantaged group help preserve the environment from degradation learn to use more of ebooks and journals write their assignments online and helps save tree </p>

            <p> MTS students will develop into responsible citizens and would strive to better the condition of the disadvantaged group. They would lend a helping hand to the old and the infirm seek social awareness about health and hygiene through a variety of of social campaigns and movements. </p>
            <p> <strong>Activities planning and learning centre</strong> </p>

            <p> club activities help the students to learn and practice skills that will help tham express themselves with their individually. to nature the talent of each student the school has made extensive arrangements that enable the students to learn different arts crafts music and dance the school provides a rich variety of activities namely as a club like arts club music club sculpture & potteryclub dance club karate and yoga club classes for meaningful engagement depending on their needs and interests. </p>
            <br>


            <h3 class="section-title droid-serif"> <span class="text-black"> Cognitive Inference System </strong></span> </h3>

            <p> We make education a better aspect of students life, in doing so MPS has been striving hard to create and innovate best strategies that can meet the needs of 21 st century on our cultural grounds. </p>

            <p> MPS follows a methodology of Cognitive Intelligence ALP ( Accelerated Learning Program ) in which energies are invested in distrubing education in life of students that to their notebook or others. </p>

            <p> As experienced and widely seen that if any concept or topic if not well absorbed by students than she is forced to mug it up , </p>

            <p> Ultimately pressurising students for strenuous mug up process, finally leading to conceptual deficit in child, which later is reflected in form of poor  performance in academic and life or both. </p>

            <p> Fortunately , there is a way to sort out leaning problem among children. Every child process available information in a different manner . Based on this assumption , children can understand , comprehend and learn something in different ways . Children are very smart in the way they perceive , gather , pool and process a Set of data available around them. In other words, they create their learning channels and stimuli sets to learn their lessons. </p>

            <p> Here to overcome burdens of mugging up all the concepts are transformed in various task oriented activities , in which students Cognitively take interests in learning and processing that ability, that after having this methodology successfully implemented in academic deliverance in classroom we are going to step further to have this methodology implemented in evaluation or examination as well. </p>

            <p>  This methodology evaluate the child based activities. Fot all academic concepts of each subject Every student experience and practiced practically, consequently they understand study of their 'COGNIZANCE'  hence a automated behavior builds up for life time to learn and to perceive knowledge. Student's mind itself become a witness to analyse themselves that leads a mind set how to get information correctly. </p>

            <p> Therefore we are presenting you the examination methodology to be taken into consideration in coming examination for preparatory level. </p>


        </div>

        <div class="col-md-4" align="left">
            <br> <br> <br>

            <p><img src="~/images/over.jpg" class="img-responsive"></p><br> <br>
        </div>




        <!--  <div class="col-md-3" align="left">
         <img src="https://via.placeholder.com/500x550" class="img-responsive img-thumbnail zoom">
         </div>    -->


    </div>
</section>


<div class="clearfix"></div>

<div class="clearfix"></div>