@{
    ViewBag.Title = "Welcome to : Maheshwari Public School Bhilwara";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";

}
   <hr>
    
  <!-- end of masterslider -->
  <div class="clearfix"></div>
    
   <!-- end section -->
     <div class="clearfix"></div>   
   	<section class="sec-padding" style="background-image:url(images/product_bg.png);"> 
    	<div class="container">       
 
       <div class="col-md-8" align="left">
       
       <h3 class="section-title droid-serif"> <span class="text-black"> Performing & Fine Art </strong></span> </h3>
       
        <li> School boasts of a highly accomplished music staff. </li>
        <li> All basic Musical equipment’s are available to the students. </li>
        <li> The school provides a conducive and creative environment for the dance. </li>
        <li> A well equipped Dance hall is available to students.  </li>
        <li> A well experienced Choreographer is available for the students for all kind of dance form.  </li>
        <li> MPS Students are being prepared to participate in the interschool competitions and have caliber to secured in top position.   </li>
         
        <p> such as district level dance completion named “ Ek Sham BhartiyaSanskritiKenaam, MPS secured Ist position and the other program named -  “ nariShatki” MPS got 3rd position. </p>
        <p> Interschool Competition of music Organized by BHARAT VIKAS PARISHAD. </p>
        <p> Philately competition organized by Post office, MPS student achieved all level and secured Ist position at National level.  </p>
        <p> Interschool Quiz Competition named – BHARAT koJanno, MPS Secured Ist position. </p>
        
        <li> The school has an art department with full of creativity. </li>
        <li> The art room and related materials are accommodated for the students. </li>
        <li> Various form of art is planned for the students according to class level and student’s interest </li>
        <li> Art Teachers are aesthetically involved with student. </li>
         
        
       </div> 
       
       	<div class="col-md-4" align="center">
        <br>

        <img src="~/images/fineart.JPG" class="img-responsive img-thumbnail zoom">
        </div>
                      
        
     </div>
  </section>
  
          
  <div class="clearfix"></div>
     
  <div class="clearfix"></div>

