@{
    ViewBag.Title = "Welcome to : Maheshwari Public School Bhilwara";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";

}
   <hr>
    
  <!-- end of masterslider -->
  <div class="clearfix"></div>
    
   <!-- end section -->
     <div class="clearfix"></div>   


   	@*<section class="sec-padding" style="background-image:url(~/images/product_bg.png);"> 
    	<div class="container">       
 
      <div class="col-md-12" align="left">       
      <h3 class="section-title droid-serif"> <span class="text-black"> MPS :  Photo Gallery </span> </h3>
      
     <hr>  
     <h5 class="section-title droid-serif"> <span class="text-black"> Abreast with History </span> </h5>
     <p>&nbsp;</p>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
     <p>&nbsp;</p>
     <div class="clearfix"></div>
     
     
     <hr>  
     <h5 class="section-title droid-serif"> <span class="text-black"> Water Footprint  </span> </h5>
     <p>&nbsp;</p>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
     <p>&nbsp;</p>
     <div class="clearfix"></div>
     
     
     <hr>  
     <h5 class="section-title droid-serif"> <span class="text-black"> Carbon Footprint </strong></span> </h5>
     <p>&nbsp;</p>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
     <p>&nbsp;</p>
     <div class="clearfix"></div>
     
     
     
     <hr>  
     <h5 class="section-title droid-serif"> <span class="text-black"> Ecological Footprint </span> </h5>
     <p>&nbsp;</p>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
     <p>&nbsp;</p>
     <div class="clearfix"></div>
     
     
     
     <hr>  
     <h5 class="section-title droid-serif"> <span class="text-black"> Litera Expo </span> </h5>
     <p>&nbsp;</p>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
     <p>&nbsp;</p>
     <div class="clearfix"></div>
     
     
     <hr>  
     <h5 class="section-title droid-serif"> <span class="text-black"> Rang Abhibhashyam </span> </h5>
     <p>&nbsp;</p>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    	
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
     <p>&nbsp;</p>
     <div class="clearfix"></div>
     
     
     <hr>  
     <h5 class="section-title droid-serif"> <span class="text-black"> CIS : Junior Kids' Exam </span> </h5>
     <p>&nbsp;</p>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
     <p>&nbsp;</p>
     <div class="clearfix"></div>
     
     
     
     <hr>  
     <h5 class="section-title droid-serif"> <span class="text-black"> MPS in Press </span> </h5>
     <p>&nbsp;</p>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
     <p>&nbsp;</p>
     <div class="clearfix"></div>
     
     
     
     <hr>  
     <h5 class="section-title droid-serif"> <span class="text-black"> Alternate Angle </span> </h5>
     <p>&nbsp;</p>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
     <p>&nbsp;</p>
     <div class="clearfix"></div>
     
     
     
     <hr>  
     <h5 class="section-title droid-serif"> <span class="text-black"> Dandiya Celebration </span> </h5>
     <p>&nbsp;</p>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
     <p>&nbsp;</p>
     <div class="clearfix"></div>
     
     
     
     
     <hr>  
     <h5 class="section-title droid-serif"> <span class="text-black"> Krishna Janmashtami </strong></span> </h5>
     <p>&nbsp;</p>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
     <p>&nbsp;</p>
     <div class="clearfix"></div>
     
     
     <hr>  
     <h5 class="section-title droid-serif"> <span class="text-black"> Competitions </span> </h5>
     <p>&nbsp;</p>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
     <p>&nbsp;</p>
     <div class="clearfix"></div>
     
     
     <hr>  
     <h5 class="section-title droid-serif"> <span class="text-black"> Excursion and visits </span> </h5>
     <p>&nbsp;</p>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
     <p>&nbsp;</p>
     <div class="clearfix"></div>
     
     
     <hr>  
     <h5 class="section-title droid-serif"> <span class="text-black"> Sports Ebullience </span> </h5>
     <p>&nbsp;</p>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
     <p>&nbsp;</p>
     <div class="clearfix"></div>
     
     
     <hr>  
     <h5 class="section-title droid-serif"> <span class="text-black"> Kargil Diwas </span> </h5>
     <p>&nbsp;</p>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
     <p>&nbsp;</p>
     <div class="clearfix"></div>
      
           
    </div> 
       
     
         
     </div>
  </section>*@




<section class="sec-padding" style="background-image:url(~/images/product_bg.png);">
    <div class="container">

        <div class="col-md-12" align="left">
            <h3 class="section-title droid-serif"> <span class="text-black"> MPS :  Photo Gallery </span> </h3>
            <hr>


            <div class="col-xl-2 col-lg-3" align="center">
                <a href="~/images/gallery/photo_1.JPG" rel="group" class="fbox"><img src="~/images/gallery/photo_1.JPG" class="zoom img-fluid img-responsive img-thumbnail"></a>
            </div>

            <div class="col-xl-2 col-lg-3" align="center">
                <a href="~/images/gallery/photo_2.JPG" rel="group" class="fbox"><img src="~/images/gallery/photo_2.JPG" class="zoom img-fluid img-responsive img-thumbnail"></a>
            </div>

            <div class="col-xl-2 col-lg-3" align="center">
                <a href="~/images/gallery/photo_3.JPG" rel="group" class="fbox"><img src="~/images/gallery/photo_3.JPG" class="zoom img-fluid img-responsive img-thumbnail"></a>
            </div>

            <div class="col-xl-2 col-lg-3" align="center">
                <a href="~/images/gallery/photo_4.JPG" rel="group" class="fbox"><img src="~/images/gallery/photo_4.JPG" class="zoom img-fluid img-responsive img-thumbnail"></a>
            </div>

            <p>&nbsp;</p>
            <div class="clearfix"></div>

            <div class="col-xl-2 col-lg-3" align="center">
                <a href="~/images/gallery/photo_5.JPG" rel="group" class="fbox"><img src="~/images/gallery/photo_5.JPG" class="zoom img-fluid img-responsive img-thumbnail"></a>
            </div>

            <div class="col-xl-2 col-lg-3" align="center">
                <a href="~/images/gallery/photo_6.JPG" rel="group" class="fbox"><img src="~/images/gallery/photo_6.JPG" class="zoom img-fluid img-responsive img-thumbnail"></a>
            </div>

            <div class="col-xl-2 col-lg-3" align="center">
                <a href="~/images/gallery/photo_7.JPG" rel="group" class="fbox"><img src="~/images/gallery/photo_7.JPG" class="zoom img-fluid img-responsive img-thumbnail"></a>
            </div>

            <div class="col-xl-2 col-lg-3" align="center">
                <a href="~/images/gallery/photo_8.JPG" rel="group" class="fbox"><img src="~/images/gallery/photo_8.JPG" class="zoom img-fluid img-responsive img-thumbnail"></a>
            </div>


            <p>&nbsp;</p>
            <div class="clearfix"></div>

            <div class="col-xl-2 col-lg-3" align="center">
                <a href="~/images/gallery/photo_9.JPG" rel="group" class="fbox"><img src="~/images/gallery/photo_9.JPG" class="zoom img-fluid img-responsive img-thumbnail"></a>
            </div>

            <div class="col-xl-2 col-lg-3" align="center">
                <a href="~/images/gallery/photo_10.JPG" rel="group" class="fbox"><img src="~/images/gallery/photo_10.JPG" class="zoom img-fluid img-responsive img-thumbnail"></a>
            </div>

            <div class="col-xl-2 col-lg-3" align="center">
                <a href="~/images/gallery/photo_11.JPG" rel="group" class="fbox"><img src="~/images/gallery/photo_11.JPG" class="zoom img-fluid img-responsive img-thumbnail"></a>
            </div>

            <div class="col-xl-2 col-lg-3" align="center">
                <a href="~/images/gallery/photo_12.JPG" rel="group" class="fbox"><img src="~/images/gallery/photo_12.JPG" class="zoom img-fluid img-responsive img-thumbnail"></a>
            </div>


            <p>&nbsp;</p>
            <div class="clearfix"></div>

            <div class="col-xl-2 col-lg-3" align="center">
                <a href="~/images/gallery/photo_13.JPG" rel="group" class="fbox"><img src="~/images/gallery/photo_13.JPG" class="zoom img-fluid img-responsive img-thumbnail"></a>
            </div>

            <div class="col-xl-2 col-lg-3" align="center">
                <a href="~/images/gallery/photo_14.JPG" rel="group" class="fbox"><img src="~/images/gallery/photo_14.JPG" class="zoom img-fluid img-responsive img-thumbnail"></a>
            </div>

            <div class="col-xl-2 col-lg-3" align="center">
                <a href="~/images/gallery/photo_15.JPG" rel="group" class="fbox"><img src="~/images/gallery/photo_15.JPG" class="zoom img-fluid img-responsive img-thumbnail"></a>
            </div>




            <!--<hr>
             <h5 class="section-title droid-serif"> <span class="text-black"> Abreast with History </strong></span> </h5>
             <p>&nbsp;</p>

             <div class="col-xl-2 col-lg-3" align="center">
             <a href="images/logo_2.png" rel="group" class="fbox"><img src="images/logo_2.png" class="zoom img-fluid"></a>
             </div>

             <div class="col-xl-2 col-lg-3" align="center">
             <a href="images/logo_2.png" rel="group" class="fbox"><img src="images/logo_2.png" class="zoom img-fluid"></a>
             </div>

            <div class="col-xl-2 col-lg-3" align="center">
            <a href="images/logo_2.png" rel="group" class="fbox"><img src="images/logo_2.png" class="zoom img-fluid"></a>
            </div>

            <div class="col-xl-2 col-lg-3" align="center">
            <a href="images/logo_2.png" rel="group" class="fbox"><img src="images/logo_2.png" class="zoom img-fluid"></a>
            </div>

             <p>&nbsp;</p>
             <div class="clearfix"></div>


             <hr>
             <h5 class="section-title droid-serif"> <span class="text-black"> Water Footprint  </strong></span> </h5>
             <p>&nbsp;</p>

            <div class="col-xl-2 col-lg-3" align="center">
            <a href="images/logo_2.png" rel="group" class="fbox"><img src="images/logo_2.png" class="zoom img-fluid"></a>
            </div>

            <div class="col-xl-2 col-lg-3" align="center">
            <a href="images/logo_2.png" rel="group" class="fbox"><img src="images/logo_2.png" class="zoom img-fluid"></a>
            </div>

            <div class="col-xl-2 col-lg-3" align="center">
            <a href="images/logo_2.png" rel="group" class="fbox"><img src="images/logo_2.png" class="zoom img-fluid"></a>
            </div>

            <div class="col-xl-2 col-lg-3" align="center">
            <a href="images/logo_2.png" rel="group" class="fbox"><img src="images/logo_2.png" class="zoom img-fluid"></a>
            </div>

             <p>&nbsp;</p>
             <div class="clearfix"></div>


             <hr>
             <h5 class="section-title droid-serif"> <span class="text-black"> Carbon Footprint </strong></span> </h5>
             <p>&nbsp;</p>

            <div class="col-xl-2 col-lg-3" align="center">
            <a href="images/logo_2.png" rel="group" class="fbox"><img src="images/logo_2.png" class="zoom img-fluid"></a>
            </div>

            <div class="col-xl-2 col-lg-3" align="center">
            <a href="images/logo_2.png" rel="group" class="fbox"><img src="images/logo_2.png" class="zoom img-fluid"></a>
            </div>

            <div class="col-xl-2 col-lg-3" align="center">
            <a href="images/logo_2.png" rel="group" class="fbox"><img src="images/logo_2.png" class="zoom img-fluid"></a>
            </div>

            <div class="col-xl-2 col-lg-3" align="center">
            <a href="images/logo_2.png" rel="group" class="fbox"><img src="images/logo_2.png" class="zoom img-fluid"></a>
            </div>

             <p>&nbsp;</p>
             <div class="clearfix"></div>



             <hr>
             <h5 class="section-title droid-serif"> <span class="text-black"> Ecological Footprint </strong></span> </h5>
             <p>&nbsp;</p>

            <div class="col-xl-2 col-lg-3" align="center">
            <a href="images/logo_2.png" rel="group" class="fbox"><img src="images/logo_2.png" class="zoom img-fluid"></a>
            </div>

            <div class="col-xl-2 col-lg-3" align="center">
            <a href="images/logo_2.png" rel="group" class="fbox"><img src="images/logo_2.png" class="zoom img-fluid"></a>
            </div>

            <div class="col-xl-2 col-lg-3" align="center">
            <a href="images/logo_2.png" rel="group" class="fbox"><img src="images/logo_2.png" class="zoom img-fluid"></a>
            </div>

            <div class="col-xl-2 col-lg-3" align="center">
            <a href="images/logo_2.png" rel="group" class="fbox"><img src="images/logo_2.png" class="zoom img-fluid"></a>
            </div>

             <p>&nbsp;</p>
             <div class="clearfix"></div>



             <hr>
             <h5 class="section-title droid-serif"> <span class="text-black"> Litera Expo </strong></span> </h5>
             <p>&nbsp;</p>

            <div class="col-xl-2 col-lg-3" align="center">
            <a href="images/logo_2.png" rel="group" class="fbox"><img src="images/logo_2.png" class="zoom img-fluid"></a>
            </div>

            <div class="col-xl-2 col-lg-3" align="center">
            <a href="images/logo_2.png" rel="group" class="fbox"><img src="images/logo_2.png" class="zoom img-fluid"></a>
            </div>

            <div class="col-xl-2 col-lg-3" align="center">
            <a href="images/logo_2.png" rel="group" class="fbox"><img src="images/logo_2.png" class="zoom img-fluid"></a>
            </div>

            <div class="col-xl-2 col-lg-3" align="center">
            <a href="images/logo_2.png" rel="group" class="fbox"><img src="images/logo_2.png" class="zoom img-fluid"></a>
            </div>

             <p>&nbsp;</p>
             <div class="clearfix"></div>


             <hr>
             <h5 class="section-title droid-serif"> <span class="text-black"> Rang Abhibhashyam </strong></span> </h5>
             <p>&nbsp;</p>

            <div class="col-xl-2 col-lg-3" align="center">
            <a href="images/logo_2.png" rel="group" class="fbox"><img src="images/logo_2.png" class="zoom img-fluid"></a>
            </div>

            <div class="col-xl-2 col-lg-3" align="center">
            <a href="images/logo_2.png" rel="group" class="fbox"><img src="images/logo_2.png" class="zoom img-fluid"></a>
            </div>

            <div class="col-xl-2 col-lg-3" align="center">
            <a href="images/logo_2.png" rel="group" class="fbox"><img src="images/logo_2.png" class="zoom img-fluid"></a>
            </div>

            <div class="col-xl-2 col-lg-3" align="center">
            <a href="images/logo_2.png" rel="group" class="fbox"><img src="images/logo_2.png" class="zoom img-fluid"></a>
            </div>

             <p>&nbsp;</p>
             <div class="clearfix"></div>


             <hr>
             <h5 class="section-title droid-serif"> <span class="text-black"> CIS : Junior Kids' Exam </strong></span> </h5>
             <p>&nbsp;</p>

            <div class="col-xl-2 col-lg-3" align="center">
            <a href="images/logo_2.png" rel="group" class="fbox"><img src="images/logo_2.png" class="zoom img-fluid"></a>
            </div>

            <div class="col-xl-2 col-lg-3" align="center">
            <a href="images/logo_2.png" rel="group" class="fbox"><img src="images/logo_2.png" class="zoom img-fluid"></a>
            </div>

            <div class="col-xl-2 col-lg-3" align="center">
            <a href="images/logo_2.png" rel="group" class="fbox"><img src="images/logo_2.png" class="zoom img-fluid"></a>
            </div>

            <div class="col-xl-2 col-lg-3" align="center">
            <a href="images/logo_2.png" rel="group" class="fbox"><img src="images/logo_2.png" class="zoom img-fluid"></a>
            </div>

             <p>&nbsp;</p>
             <div class="clearfix"></div>



             <hr>
             <h5 class="section-title droid-serif"> <span class="text-black"> MPS in Press </strong></span> </h5>
             <p>&nbsp;</p>

            <div class="col-xl-2 col-lg-3" align="center">
            <a href="images/logo_2.png" rel="group" class="fbox"><img src="images/logo_2.png" class="zoom img-fluid"></a>
            </div>

            <div class="col-xl-2 col-lg-3" align="center">
            <a href="images/logo_2.png" rel="group" class="fbox"><img src="images/logo_2.png" class="zoom img-fluid"></a>
            </div>

            <div class="col-xl-2 col-lg-3" align="center">
            <a href="images/logo_2.png" rel="group" class="fbox"><img src="images/logo_2.png" class="zoom img-fluid"></a>
            </div>

            <div class="col-xl-2 col-lg-3" align="center">
            <a href="images/logo_2.png" rel="group" class="fbox"><img src="images/logo_2.png" class="zoom img-fluid"></a>
            </div>

             <p>&nbsp;</p>
             <div class="clearfix"></div>



             <hr>
             <h5 class="section-title droid-serif"> <span class="text-black"> Alternate Angle </strong></span> </h5>
             <p>&nbsp;</p>

            <div class="col-xl-2 col-lg-3" align="center">
            <a href="images/logo_2.png" rel="group" class="fbox"><img src="images/logo_2.png" class="zoom img-fluid"></a>
            </div>

            <div class="col-xl-2 col-lg-3" align="center">
            <a href="images/logo_2.png" rel="group" class="fbox"><img src="images/logo_2.png" class="zoom img-fluid"></a>
            </div>

            <div class="col-xl-2 col-lg-3" align="center">
            <a href="images/logo_2.png" rel="group" class="fbox"><img src="images/logo_2.png" class="zoom img-fluid"></a>
            </div>

            <div class="col-xl-2 col-lg-3" align="center">
            <a href="images/logo_2.png" rel="group" class="fbox"><img src="images/logo_2.png" class="zoom img-fluid"></a>
            </div>

             <p>&nbsp;</p>
             <div class="clearfix"></div>



             <hr>
             <h5 class="section-title droid-serif"> <span class="text-black"> Dandiya Celebration </strong></span> </h5>
             <p>&nbsp;</p>

            <div class="col-xl-2 col-lg-3" align="center">
            <a href="images/logo_2.png" rel="group" class="fbox"><img src="images/logo_2.png" class="zoom img-fluid"></a>
            </div>

            <div class="col-xl-2 col-lg-3" align="center">
            <a href="images/logo_2.png" rel="group" class="fbox"><img src="images/logo_2.png" class="zoom img-fluid"></a>
            </div>

            <div class="col-xl-2 col-lg-3" align="center">
            <a href="images/logo_2.png" rel="group" class="fbox"><img src="images/logo_2.png" class="zoom img-fluid"></a>
            </div>

            <div class="col-xl-2 col-lg-3" align="center">
            <a href="images/logo_2.png" rel="group" class="fbox"><img src="images/logo_2.png" class="zoom img-fluid"></a>
            </div>

             <p>&nbsp;</p>
             <div class="clearfix"></div>




             <hr>
             <h5 class="section-title droid-serif"> <span class="text-black"> Krishna Janmashtami </strong></span> </h5>
             <p>&nbsp;</p>

            <div class="col-xl-2 col-lg-3" align="center">
            <a href="images/logo_2.png" rel="group" class="fbox"><img src="images/logo_2.png" class="zoom img-fluid"></a>
            </div>

            <div class="col-xl-2 col-lg-3" align="center">
            <a href="images/logo_2.png" rel="group" class="fbox"><img src="images/logo_2.png" class="zoom img-fluid"></a>
            </div>

            <div class="col-xl-2 col-lg-3" align="center">
            <a href="images/logo_2.png" rel="group" class="fbox"><img src="images/logo_2.png" class="zoom img-fluid"></a>
            </div>

            <div class="col-xl-2 col-lg-3" align="center">
            <a href="images/logo_2.png" rel="group" class="fbox"><img src="images/logo_2.png" class="zoom img-fluid"></a>
            </div>

             <p>&nbsp;</p>
             <div class="clearfix"></div>


             <hr>
             <h5 class="section-title droid-serif"> <span class="text-black"> Competitions </strong></span> </h5>
             <p>&nbsp;</p>

            <div class="col-xl-2 col-lg-3" align="center">
            <a href="images/logo_2.png" rel="group" class="fbox"><img src="images/logo_2.png" class="zoom img-fluid"></a>
            </div>

            <div class="col-xl-2 col-lg-3" align="center">
            <a href="images/logo_2.png" rel="group" class="fbox"><img src="images/logo_2.png" class="zoom img-fluid"></a>
            </div>

            <div class="col-xl-2 col-lg-3" align="center">
            <a href="images/logo_2.png" rel="group" class="fbox"><img src="images/logo_2.png" class="zoom img-fluid"></a>
            </div>

            <div class="col-xl-2 col-lg-3" align="center">
            <a href="images/logo_2.png" rel="group" class="fbox"><img src="images/logo_2.png" class="zoom img-fluid"></a>
            </div>

             <p>&nbsp;</p>
             <div class="clearfix"></div>


             <hr>
             <h5 class="section-title droid-serif"> <span class="text-black"> Excursion and visits </strong></span> </h5>
             <p>&nbsp;</p>

            <div class="col-xl-2 col-lg-3" align="center">
            <a href="images/logo_2.png" rel="group" class="fbox"><img src="images/logo_2.png" class="zoom img-fluid"></a>
            </div>

            <div class="col-xl-2 col-lg-3" align="center">
            <a href="images/logo_2.png" rel="group" class="fbox"><img src="images/logo_2.png" class="zoom img-fluid"></a>
            </div>

            <div class="col-xl-2 col-lg-3" align="center">
            <a href="images/logo_2.png" rel="group" class="fbox"><img src="images/logo_2.png" class="zoom img-fluid"></a>
            </div>

            <div class="col-xl-2 col-lg-3" align="center">
            <a href="images/logo_2.png" rel="group" class="fbox"><img src="images/logo_2.png" class="zoom img-fluid"></a>
            </div>

             <p>&nbsp;</p>
             <div class="clearfix"></div>


             <hr>
             <h5 class="section-title droid-serif"> <span class="text-black"> Sports Ebullience </strong></span> </h5>
             <p>&nbsp;</p>

            <div class="col-xl-2 col-lg-3" align="center">
            <a href="images/logo_2.png" rel="group" class="fbox"><img src="images/logo_2.png" class="zoom img-fluid"></a>
            </div>

            <div class="col-xl-2 col-lg-3" align="center">
            <a href="images/logo_2.png" rel="group" class="fbox"><img src="images/logo_2.png" class="zoom img-fluid"></a>
            </div>

            <div class="col-xl-2 col-lg-3" align="center">
            <a href="images/logo_2.png" rel="group" class="fbox"><img src="images/logo_2.png" class="zoom img-fluid"></a>
            </div>

            <div class="col-xl-2 col-lg-3" align="center">
            <a href="images/logo_2.png" rel="group" class="fbox"><img src="images/logo_2.png" class="zoom img-fluid"></a>
            </div>

             <p>&nbsp;</p>
             <div class="clearfix"></div>


             <hr>
             <h5 class="section-title droid-serif"> <span class="text-black"> Kargil Diwas </strong></span> </h5>
             <p>&nbsp;</p>

            <div class="col-xl-2 col-lg-3" align="center">
            <a href="images/logo_2.png" rel="group" class="fbox"><img src="images/logo_2.png" class="zoom img-fluid"></a>
            </div>

            <div class="col-xl-2 col-lg-3" align="center">
            <a href="images/logo_2.png" rel="group" class="fbox"><img src="images/logo_2.png" class="zoom img-fluid"></a>
            </div>

            <div class="col-xl-2 col-lg-3" align="center">
            <a href="images/logo_2.png" rel="group" class="fbox"><img src="images/logo_2.png" class="zoom img-fluid"></a>
            </div>

            <div class="col-xl-2 col-lg-3" align="center">
            <a href="images/logo_2.png" rel="group" class="fbox"><img src="images/logo_2.png" class="zoom img-fluid"></a>
            </div> -->

            <p>&nbsp;</p>
            <div class="clearfix"></div>


        </div>

        <!--  <div class="col-md-3" align="left">
         <img src="https://via.placeholder.com/500x550" class="img-responsive img-thumbnail zoom">
         </div>    -->

    </div>
</section>
           
  <div class="clearfix"></div>
     
  <div class="clearfix"></div>

