@{
    ViewBag.Title = "Welcome to : Maheshwari Public School Bhilwara";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";

}
   <hr>
    
  <!-- end of masterslider -->
  <div class="clearfix"></div>
    
   <!-- end section -->
     <div class="clearfix"></div>   
   	<section class="sec-padding" style="background-image:url(~/images/product_bg.png);"> 
    	<div class="container">       
 
      <div class="col-md-12" align="left">       
      <h3 class="section-title droid-serif"> <span class="text-black"> MPS :  Photo Gallery </span> </h3>
      
     <hr>  
     <h5 class="section-title droid-serif"> <span class="text-black"> Abreast with History </span> </h5>
     <p>&nbsp;</p>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
     <p>&nbsp;</p>
     <div class="clearfix"></div>
     
     
     <hr>  
     <h5 class="section-title droid-serif"> <span class="text-black"> Water Footprint  </span> </h5>
     <p>&nbsp;</p>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
     <p>&nbsp;</p>
     <div class="clearfix"></div>
     
     
     <hr>  
     <h5 class="section-title droid-serif"> <span class="text-black"> Carbon Footprint </strong></span> </h5>
     <p>&nbsp;</p>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
     <p>&nbsp;</p>
     <div class="clearfix"></div>
     
     
     
     <hr>  
     <h5 class="section-title droid-serif"> <span class="text-black"> Ecological Footprint </span> </h5>
     <p>&nbsp;</p>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
     <p>&nbsp;</p>
     <div class="clearfix"></div>
     
     
     
     <hr>  
     <h5 class="section-title droid-serif"> <span class="text-black"> Litera Expo </span> </h5>
     <p>&nbsp;</p>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
     <p>&nbsp;</p>
     <div class="clearfix"></div>
     
     
     <hr>  
     <h5 class="section-title droid-serif"> <span class="text-black"> Rang Abhibhashyam </span> </h5>
     <p>&nbsp;</p>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    	
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
     <p>&nbsp;</p>
     <div class="clearfix"></div>
     
     
     <hr>  
     <h5 class="section-title droid-serif"> <span class="text-black"> CIS : Junior Kids' Exam </span> </h5>
     <p>&nbsp;</p>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
     <p>&nbsp;</p>
     <div class="clearfix"></div>
     
     
     
     <hr>  
     <h5 class="section-title droid-serif"> <span class="text-black"> MPS in Press </span> </h5>
     <p>&nbsp;</p>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
     <p>&nbsp;</p>
     <div class="clearfix"></div>
     
     
     
     <hr>  
     <h5 class="section-title droid-serif"> <span class="text-black"> Alternate Angle </span> </h5>
     <p>&nbsp;</p>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
     <p>&nbsp;</p>
     <div class="clearfix"></div>
     
     
     
     <hr>  
     <h5 class="section-title droid-serif"> <span class="text-black"> Dandiya Celebration </span> </h5>
     <p>&nbsp;</p>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
     <p>&nbsp;</p>
     <div class="clearfix"></div>
     
     
     
     
     <hr>  
     <h5 class="section-title droid-serif"> <span class="text-black"> Krishna Janmashtami </strong></span> </h5>
     <p>&nbsp;</p>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
     <p>&nbsp;</p>
     <div class="clearfix"></div>
     
     
     <hr>  
     <h5 class="section-title droid-serif"> <span class="text-black"> Competitions </span> </h5>
     <p>&nbsp;</p>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
     <p>&nbsp;</p>
     <div class="clearfix"></div>
     
     
     <hr>  
     <h5 class="section-title droid-serif"> <span class="text-black"> Excursion and visits </span> </h5>
     <p>&nbsp;</p>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
     <p>&nbsp;</p>
     <div class="clearfix"></div>
     
     
     <hr>  
     <h5 class="section-title droid-serif"> <span class="text-black"> Sports Ebullience </span> </h5>
     <p>&nbsp;</p>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
     <p>&nbsp;</p>
     <div class="clearfix"></div>
     
     
     <hr>  
     <h5 class="section-title droid-serif"> <span class="text-black"> Kargil Diwas </span> </h5>
     <p>&nbsp;</p>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
    <div class="col-xl-2 col-lg-3" align="center">
    <a href="~/images/logo_2.png" rel="group" class="fbox"><img src="~/images/logo_2.png" class="zoom img-fluid"></a>
    </div>
    
     <p>&nbsp;</p>
     <div class="clearfix"></div>
      
           
    </div> 
       
       <!--  <div class="col-md-3" align="left">
        <img src="https://via.placeholder.com/500x550" class="img-responsive img-thumbnail zoom">
        </div>    -->   
         
     </div>
  </section>
           
  <div class="clearfix"></div>
     
  <div class="clearfix"></div>

