@{
    ViewBag.Title = "Welcome to : Maheshwari Public School Bhilwara";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";

}
<hr>

<!-- end of masterslider -->
<div class="clearfix"></div>





<!-- end section -->
<div class="clearfix"></div>
<section class="sec-padding" style="background-image:url(images/product_bg.png);">
    <div class="container">


        <div class="col-md-3" align="left">
            <img src="~/images/principal.jpg" class="img-responsive img-thumbnail zoom">
            <br><br>
            <h5 align="center"> Dr. Nagpal Singh <br> ( Principal )  </h5>
        </div>

        <div class="col-md-9" align="left">
            <h3 class="section-title droid-serif"> <span class="text-black"> Principal's Desk </strong></span> </h3>

            <p align="justify" align="justify">  A love for learning, a strong sense of self-esteem, personal integrity, and a respectful, caring attitude towards nature, human and life  </p>
            <p align="justify" align="justify">  Maheshwari Public school is a truly international school with inherent National values , where our management  faculty and wider school curriculum proudly reflects the shared vision commitment,  and energy necessary to ensure the education, social and personal success of every student, By identifying core areas of individual development and achievement.   </p>

            <p align="justify" align="justify">   We believe that each of the student is a blend of unique qualities and values , with equal potential to make a positive contribution to their personal, social and global contribution, we  aim to provide the direction, counsel and support that each student needs to reach her full potential, while we have established high standards for academic and performance, our curriculum and educational program have been created with an emphasis on the development of the whole aspects of individual’s life .  </p>

            <p align="justify" align="justify">  Like wise other important aspects of individual development has also been taken into serious considerations, as what is happening at international level of life as we strongly believe today’s students are needed global access and education where they have to in tune themselves in accordance to challenges of world. At MPS, parents, students, teachers, and other stakeholders of education work together as a community to solve in framework of fairness and shared values where international and conceptual approach from representative of various experience groups are incorporated and presented on campus, each of us has been exceptional in developing and understanding of the appreciation for , the philosophies from many cultures and achievements.  </p>


            <p align="justify" align="justify">  We hope to have the opportunityto welcome you and your child at MPS in future and, of course ,we hope that you can visit us to learn at first hand what sets us apart in the world of international education.  </p>

            <p align="justify" align="justify">  <strong>Dr. Nagpal Singh</strong>  </p>

            <br>
        </div>




    </div>
</section>


<div class="clearfix"></div>

<div class="clearfix"></div>