@{
    ViewBag.Title = "Welcome to : Maheshwari Public School Bhilwara";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";

}
   <hr>
    
  <!-- end of masterslider -->
  <div class="clearfix"></div>
    
   <!-- end section -->
     <div class="clearfix"></div>   
   	<section class="sec-padding" style="background-image:url(images/product_bg.png);"> 
    	<div class="container">       
 
       <div class="col-md-8" align="justify">
       
       <h3 class="section-title droid-serif"> <span class="text-black"> Programs & Seminars  </strong></span> </h3>
       
       <p> With a supreme ideology of creating a happy and productive childhood, the entire academic syllabus is re-formed as activities for the better learning and imbibing of thoughts for children. Not only syllabus activities, but the school comes up with several academic platforms, for the students where they can exhibit themselves exuberantly in terms of cognitive information and its implementation in life, accelerated learning facts, linguistic, Confidence, public exposure and so on. Motivated by this, Under the Aegis of ALP (Accelerated Learning Program) various academic program were conducted.   </p>
       <p> At MPS, we believe that the school is an important part of the community. The school thrives because of the community, and for the benefit of the community. Hence, we conduct events wherein children can learn through multiple interactions with the community and the community also benefits through the efforts of & interactions with our children and staff.  </p>
       <p> Every program or seminar at MPS is designed to shape activities and tasks out of the concepts of each subject in a manner that it fulfills all the academic, cultural and value requirements of young brains. From the conceptualization to process and execution, everything is done by Team MPS (teachers and students) itself which puts the students to comprehensive brain storming hence the gray matter is activated to bring out not only the desired outcome as per the subjective concept but also imbibing of information in the permanent memory of students.  </p>
       <p> The various celebrations and events at the school are designed to foster connections amongst the school community members and also with the external community members towards the larger interest of national development through good education.  </p>
         </div> 
       
       <div class="col-md-4" align="left">
       <br>
	   <br>
	   <br>
       <img src="~/images/program-seminar.JPG" class="img-responsive img-thumbnail zoom">
       </div> 
         
     </div>
  </section>
  
          
  <div class="clearfix"></div>
     
  <div class="clearfix"></div>
 
	
