@{
    ViewBag.Title = "Welcome to : Maheshwari Public School Bhilwara";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";

}
   <hr>
    
  <!-- end of masterslider -->
  <div class="clearfix"></div>
    
   <!-- end section -->
     <div class="clearfix"></div>   
   	<section class="sec-padding" style="background-image:url(~/images/product_bg.png);"> 
    	<div class="container">       
 
       <div class="col-md-12" align="left">
       
        <h3 class="section-title droid-serif"> <span class="text-black"> Sports </span> </h3>
       
        <div> <img src="~/images/Houses.jpg" class="img-responsive"> </div>
        <br>
        
       <p> The world has become globally competitive in all spheres, especially in a sports. The Indian Sports sector has seen a significant socio-economic impact contributing to 1-5 percent of national GDP. Sports not only boost the youth and instill Pride among citizens but also facilitates social and economic development of a nation. The last decade has seen the Indian Sports industry expanding its boundaries with the rising popularity of the of various language such as, the Indian Premier League (IPL), the Indian Super league, Hockey India League etc. </p>
       
       <p>  MPS provides up to date the and relevant curriculum one that is abreast with the latest development of the sports management industry. Aiming to hold the student’s curiosity and interest levels, MPS is pragmatic with an interesting mix of theoretical and practical concepts and also to create scientifically trained, skilled human resources in the area of sports Sciences to support. </p>
       
       <p>  MPS believe in playing an active role in shaping the personalities of our students so that they can effectively contribute towards their social obligations towards the society at large.  </p>
       
       <p> With the objective of nurturing well groomed and confident professional, MPS strive to prepare our students towards a successful career in sports management. The aim of MPS is to provide state-of-the-art involvement with Global standard through our International affiliations. </p>
       
       <p> Every Year, On the occasion of MakarSankarnati, an event is organized in MPS, i.e.The Sports Ebullience to enhance the spirit of sportsmanship in the Shining Star of the MPS. </p>
       
       </div> 
       
       <!--  <div class="col-md-3" align="left">
        <img src="https://via.placeholder.com/500x550" class="img-responsive img-thumbnail zoom">
        </div>    -->   
                      
        
     </div>
  </section>
  
          
  <div class="clearfix"></div>
     
  <div class="clearfix"></div>
 

