@{
    ViewBag.Title = "Welcome to : Maheshwari Public School Bhilwara";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";

}


<hr>

<!-- end of masterslider -->
<div class="clearfix"></div>

<!-- end section -->
<div class="clearfix"></div>
<section class="sec-padding" style="background-image:url(images/product_bg.png);">
    <div class="container">

        <div class="col-md-8" align="left">
            <h3 class="section-title droid-serif"> <span class="text-black"> <strong>Vision & Mission </strong></span> </h3>
            <p align="justify" align="justify"> education has an individual to be smarter, to learn new things and to know the facts of the worlds. Education place one of the most important rules for girls. Girls need a foundation of knowledge skills and experiences to gain control over their lives better articulate their needs, protect their personal assets participate in community development decisions and shape their futures. But they can't do it alone. Girls need access to equitable equality education and safe spaces. Aiming this MPS is providing a learning environment dedicated to girls without social pressure from boys girls are free to pursue academic excellence.  </p>

            <p align="justify"> MPS is an international school that proposes quality education NCERT CBSE curriculum well integrated with the best practices of Indian education system full stop MPS is one of the schools with largest vision and mission and to be upgraded to senior secondary level with CBSE and international bodies like IB and Cambridge London.   </p>
            <p align="justify"> As every brain has a unique building & psyche having infinite capacity of understand grasp and master various skills. We ensure that during the crucial years of children's development in MPS students have been taught to logically plan order and present increments of knowledge as a result they experience a quantum shift in their development skills and competencebut something a learner creates. The entire academic syllabus is reformed as activities for the better learning and imbibing of thoughts of children full stop there for approaches to instruction is more activity based rather than presentation based </p>

            <p align="justify">  MPS has a well-earned reputation for academic excellencea symbol of the remarkable teaching and learning framework that has long challenged aagar to be forward thinkers and problem solver. However are multifaceted  curriculum reaches far beyond academia.a unique blend of artistic sporting and outdoor educational experiences are combined to develop self belief courage leadership and resilience.  </p>

            <p align="justify">  I personally feel  delighted to forward my sincere wishesto the whole team of MTS along with their representatives director Shri Dilip toshniwal for delivering to the cause of society with global standards.  </p>

            <br>
        </div>

        <div class="col-md-4" align="left">
            <br>
            <br>

            <img src="~/images/vision-mision.jpg" class="img-responsive img-thumbnail zoom">
        </div>


    </div>
</section>


<div class="clearfix"></div>

<div class="clearfix"></div>